html,
body {
    background-color: #EEEEEE;
    color: #333333;
    font-family: Verdana, sans-serif;
    font-size: 1em;
}
form {
    font-size: 0.9em;
}
/* font-family:"Trebuchet MS",Trebuchet,sans-serif;font-size:1em; */

a {
    color: #FF6600;
}
a:hover {
    color: #0066FF;
}
.reflink a:hover {
    font-weight: bold;
}
.navbar {
    text-align: right;
    background: inherit;
    clear: both;
    float: left;
    font-size: 0.9em;
}
.adminbar {
    text-align: right;
    background: inherit;
    clear: both;
    float: right;
    line-height: 17px;
    font-size: 0.9em;
}
.adminbar a {
    font-weight: normal;
}
.logo {
    clear: both;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #FF6600;
    /*width:100%;*/
}
.replymode,
.passvalid {
    background: #DDDDDD;
    text-align: center;
    padding: 2px;
    color: #2266AA;
    clear: both;
    font-weight: bold;
    margin-bottom: .5em;
    border: solid 1px #CCCCCC;
    -moz-border-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.catalogmode {
    background: #0040E0;
    text-align: center;
    padding: 2px;
    color: #FFFFFF;
    width: 100%;
}
.passvalid {
    background: #DDDDDD;
    text-align: center;
    width: 100%;
    color: #2266AA;
}
.postarea {
    font-size: 0.9em;
}
.rules {
    font-size: 0.7em;
    width: 468px;
    font-size: 10px;
    font-family: sans-serif;
}
.rules li {
    margin-left: 1em;
    /*text-indent: 0em;*/
}
.postblock {
    background: transparent;
    color: #002244;
    font-weight: bold;
}
.footer {
    text-align: center;
    font-size: 12px;
    font-family: serif;
    margin: 2em 0 0 0;
}
.dellist {
    font-weight: bold;
    text-align: center;
}
.delbuttons {
    text-align: center;
    padding-bottom: 4px;
}
.managehead {
    background: #DDDDDD;
    color: #002244;
    padding: 0px;
}
.postlists {
    background: #FFFFFF;
    width: 100%;
    padding: 0px;
    color: #800000;
}
.row1 {
    background: #DDDDDD;
    color: #002244;
}
.row2 {
    background: #CCCCCC;
    color: #002244;
}
.unkfunc {
    background: inherit;
    color: #789922;
}
.reflink {
    font-size: .9em;
    font-weight: bold;
}
.filesize {
    text-decoration: none;
    color: #666666;
    font-size: .9em;
}
.filetitle {
    background: inherit;
    font-size: 1.2em;
    color: #002244;
    font-weight: bold;
}
.postername {
    /*	color:#004A99;
	font-weight:bold;  */
}
.postertrip {
    color: #FF3300;
}
.oldpost {
    color: #CC1105;
    font-weight: bold;
}
.omittedposts {
    color: #666666;
}
.reply,
.postPreview,
.loadedPost > .thread {
    background: #DDDDDD;
    border: solid 1px #CCCCCC;
    padding: 3px;
    margin: 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}
.lightPost {
    background: #DDDDDD;
    border: solid 1px #CCCCCC;
    padding: 3px;
    margin: 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}
.loadedPost {
    background: #DDDDDD;
    border: solid 1px #CCCCCC;
    padding: 3px;
    margin: 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}
.sm_counter {
    font-size: 14px;
    background: none;
    color: green;
    text-shadow: green 0px 0px 10px;
}
.replyhl {
    background: #DDDDDD;
    color: #800000;
}
.doubledash {
    display: none !important;
}
.replytitle {
    font-size: 1.2em;
    color: #002244;
    font-weight: bold;
}
.commentpostername {
    color: #004A99;
    font-weight: 800;
}
.thumbnailmsg {
    font-size: .8em;
    color: #666666;
}
.abbrev {
    color: #666666;
}
.highlight {
    background: #eedacb;
    color: #333333;
    border: 2px dashed #EE6600;
}
#watchedthreads {
    background-color: #F0E0D6 !important;
}
.reflinkpreview {
    background-color: #DDDDDD !important;
}
.spoiler {
    background: #CCCCCC !important;
    color: #CCCCCC !important;
}
.spoiler blockquote {
    background: #CCCCCC !important;
    color: #CCCCCC !important;
}
.spoiler:hover {
    background: #CCCCCC !important;
    color: #333333 !important;
}
.spoiler blockquote:hover {
    color: #789922 !important;
}
.spoiler blockquote blockquote:hover {
    color: #406010 !important;
}
.spoiler blockquote blockquote blockquote:hover {
    color: #204010 !important;
}
.textarea {
    resize: both;
}
.popup {
    z-index: 100;
    display: block;
    background: none repeat scroll 0% 0% #DDD;
    border: 1px solid #CCC;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
}
.popup-item:hover {
    color: #FF7D00;
}
input[type="checkbox"]:checked {
    opacity: 1 !important;
}
.subitem {
    padding-left: 3px;
    cursor: pointer;
}
.subitem:hover {
    color: #FF7D00;
}
.fspoilertitle {
    font-weight: bold;
    padding-left: 3px;
    color: #ff6600;
    border-bottom: 1px dashed #ff6600;
}
.fspoilertext {
    border: none;
    border-left: 2px solid #ff6600;
    padding: 3px;
    padding-left: 10px;
}
.postcontrols {
    position: relative;
    top: 2px;
    margin-left: 5px;
    display: inline-block !important;
    cursor: default;
}
.posthide,
.postrepl,
.postshow,
.threadexpand {
    cursor: pointer;
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
}
.postshow {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAABGdBTUEAALGPC/xh BQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAA OpgAABdwnLpRPAAAADNQTFRFRERERElcfpGWlpaWlpaShGZORURERE56yPT09PT0 1pJcSERElpy04PT06MKkmJaW////hByJ4QAAAAFiS0dEEJWyDSwAAAAJcEhZcwAA AEgAAABIAEbJaz4AAAA7SURBVDjLY2AYhoCRiZmFlQ2PAnYOTk4u7iGrAOg/EODh 5eTk4wex0H0L0ooK0AyiXMFgCAf6KRixAACddQVl2LJ9WAAAACV0RVh0ZGF0ZTpj cmVhdGUAMjAxNS0wOC0wOFQxMzoxMDoxMSswMzowMNJh3HkAAAAldEVYdGRhdGU6 bW9kaWZ5ADIwMTUtMDgtMDhUMTM6MTA6MTErMDM6MDCjPGTFAAAAPHRFWHRzdmc6 YmFzZS11cmkAZmlsZTovLy9ob21lL3IwMHQvQ09ERS9hLWNob3JnL25ldy9vdXQt cGx1cy5zdmcNB42wAAAAAElFTkSuQmCC");
}
.posthide {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAABGdBTUEAALGPC/xh BQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAA OpgAABdwnLpRPAAAANtQTFRFREREREZJSEVEREZIREphjb/i27N/V0hEREldh7zf 3raDWkhEjcDp9PT04LN/RElchrzl4reDREleisDpRElbhbrl4raCWEdEREVQbp/S 8fT0hbnk9PTuyZVmTUVEb6DSypZn8vT04LaSlbvjy5doy5hoTkVEb6HTzJlpcKLU 8/T09PTwzptp4LN+37F9VkdE37F8REhbhLjj9PTvzJx2eaHS3rB8zJpq3a96REhZ g7jj3a56VUZEREZTd6jZREVR9PTx0Z9uUEVEcaPUd6fJwphqcaLHxZ1u////mg0V HQAAAAFiS0dESPAC1OoAAAAJcEhZcwAAAEgAAABIAEbJaz4AAADJSURBVDjL3dBX EoIwEIDhiAXbWlFREawoWLB3xe79byRhAg4EOAB52pnvn0yyCIXrRJj/HGVoj8UT rDUnU+kM5VmAHCnyBYCiqyiVAayCq+C5WnMEfL1hFVwTT0JLdF7BS6Qg3hbdj+Cl DpZuz/Q+5XZh+kD2WgQ/JIUw8nSjUFTs44mPk/cDTNlgB5hpwQ4w9ygWSyyr9cbc x1bz8Z1Mfrt3FYcjcfu3p7MjuFwtR0hXjOJ2fyB3QdwonirlRvF62/vRP1/KQ35+ tf8ZRIQdRcoAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTUtMDgtMDhUMTM6MTA6MTEr MDM6MDDSYdx5AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE1LTA4LTA4VDEzOjEwOjEx KzAzOjAwozxkxQAAAD10RVh0c3ZnOmJhc2UtdXJpAGZpbGU6Ly8vaG9tZS9yMDB0 L0NPREUvYS1jaG9yZy9uZXcvb3V0LWNyb3NzLnN2Z1mcDKQAAAAASUVORK5CYII=");
}
.postrepl {
    margin-right: 8px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAABGdBTUEAALGPC/xh BQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAA OpgAABdwnLpRPAAAAHhQTFRFRERERElfg49+ZE9GRExwtur09PHbvp5/Y05G9PT0 9PDavp1/vZ1/Yk5G9PDZvJ1+YU5FvJx99PDYvJx89O/Yu5t8YU1F9O7Xupt8uZt7 YE1FtY1kTEVE9O/Xu5x8vJx+vZ1+Yk5Fvp+As93Zv6CBREVJTEpF////PkJOhwAA AAFiS0dEJy0PqCMAAAAJcEhZcwAAAEgAAABIAEbJaz4AAACGSURBVDjL3dLNDoIw EATggghMQSwFiqL8iOL7PyI9EEJIM3fY637JbiYjxHHG8y8cBNcwijkAZBJzYEl6 4wDI7ooDS3LFAaALxQFQVoYDoH4YDix5Nhygfr0ZaHc3dqDsDHtSO6LYgKx3JbUC OXxY1DJxrxcgSSUsCEdWquD7452b/uLUMwOzjgptjseLiwAAACV0RVh0ZGF0ZTpj cmVhdGUAMjAxNS0wOC0wOFQxMzoxMDoxMSswMzowMNJh3HkAAAAldEVYdGRhdGU6 bW9kaWZ5ADIwMTUtMDgtMDhUMTM6MTA6MTErMDM6MDCjPGTFAAAAPXRFWHRzdmc6 YmFzZS11cmkAZmlsZTovLy9ob21lL3IwMHQvQ09ERS9hLWNob3JnL25ldy9vdXQt cmVwbHkuc3Znvf8mbAAAAABJRU5ErkJggg==");
}
.threadexpand {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAABGdBTUEAALGPC/xh BQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAA OpgAABdwnLpRPAAAASlQTFRFRERERElei73UvIldSUREisPw///////uwIhcSERE REldisHv///tvodbicHu///svYVbREhch7/t///rvIRaRERHW5DU/f////vPillG RU1gb2RQRkhbh77t///qu4NaSEZRZmxbSkRERU5pm9L4//3dqHNRSEdVerDi///y x49hhr7terHjxo5hhr3sSEdWfLLk///xxY1ghbXMs4JafLPlRUREREdWfbPlxI1f qHNSfrXmxo5g//3cp3NRRUdYf67FrX1WR0dW///zm9H4p3JRf7bo///ltH1WyZFh S0REmtH4//3b///0ypJjS0VE//zbpnFRs3xW///1y5NkRUxebmNPR0dUanFeREph jsby///vwopeREpgjcXxjcTxREpfjL7VvIpe2uP1dgAAAAFiS0dEBmFmuH0AAAAJ cEhZcwAAAEgAAABIAEbJaz4AAAECSURBVDjLY2AYfICRiZkFrzwrGzsHJ255Lm42 NjYeXpwquPjYQIBfAIcKQSE2CBAWwapCVEwcqoBNQhKLvJS0jCxUXk5eQVEJXV5Z RVUNqkJOXl1DU0sJXZ6NDahCGyKvw8amqauELg9WoQeU1zcAcQyNlNDlwSqMTfRN IRwkFTB5kAozcwsYx9BSCVOBlZm5NYyjaYNhhK2dvYOjE1SFM7JHlF3A8q72bmzu HhAVzp5eKN7wZmPzAcmzQVX4+vmjBYR3QCBYHqgiyMk6OARNnoEhNAwqD1IRHoEh TziyGBgio6Dy0TE4kl1sFH55oIo4/PJAFfH45RkYEhKT8MoPCAAAncwomjaPNrcA AAAldEVYdGRhdGU6Y3JlYXRlADIwMTUtMDgtMDhUMTM6MTA6MTErMDM6MDDSYdx5 AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE1LTA4LTA4VDEzOjEwOjExKzAzOjAwozxk xQAAAD50RVh0c3ZnOmJhc2UtdXJpAGZpbGU6Ly8vaG9tZS9yMDB0L0NPREUvYS1j aG9yZy9uZXcvb3V0LWV4cGFuZC5zdmfcotMbAAAAAElFTkSuQmCC");
}
.extrabtns {
    display: none;
}