*.txt
*.html
*.log
*.ico
inc/classes/geshi/docs/api/media/*
!faq.html
!settings.html
!frame.html
!api.html
archive/*
*.jar
animation.php
*.htaccess
static/_trash/*
dwoo/templates_c/*
config.php
inc/lang/*
static/node_modules
config-user.php